<div class="profile">

    <h1>Account Details</h1>  

    <dl> 
        <dt class="profile-info">First Name: {{data.first_name}}<dt> 
        

        <dt class="profile-info">Last Name: {{data.last_name}}<dt> 
       

        <dt class="profile-info">Username: {{data.username}}<dt> 
     

        <dt class="profile-info">Age: {{data.age}}<dt> 
  

        <dt class="profile-info">Email: {{data.email}}<dt> 

        <dt class="profile-info">Address: {{data.state}}, {{data.country}}<dt> 

        {{!-- <dt class="profile-info">Password: {{data.first_name}}dt>  --}}


        {{!-- <dt class="profile-info">Administrative Account: {{data.first_name}}<dt>  --}}
     
    </dl>
    <hr>
    <div>
        <h2>List of Games</h2>
        <div class="card">
            <a href="/games/1">
            <img src="/public/images/image_not_available.jpg" alt="Avatar" class="card-image">
            <div class="card-container">
                <h4><b>GTA V</b></h4> 
                <p>Action/Adeventure game</p> 
            </div>
            </a>
        </div>
    </div>

</div>